/* page login.php */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login {
    background-image: url("../img/back2.jpg");
}

.form_login {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/back2.jpg');
    background-size: cover;
    width: 700px;
    -webkit-box-shadow: 1px 2px 37px 13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 37px 13px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 37px 13px rgba(0, 0, 0, 0.75);
    text-align: center;

}


/*page index.php*/
#admin {
    display: grid;
    grid-template-areas: 'a a''b c';
    grid-template-rows: 100px 1fr;
    grid-template-columns: 200px 1fr;
    height: 100vh;
    background-image: url('../img/back3.jpg');
    background-size: 100% 100%;
}

header {
    grid-area: a;
    border-bottom: 3px solid rgb(255, 255, 255);
    background-color: #ffffff48;

}

header h1 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

nav {
    grid-area: b;
    /*border-right: 3px solid rgb(255, 255, 255);*/
    background-color: rgba(255, 255, 255, 0.281);
}

nav ul {
    text-align: center;
    font-weight: bold;
}

nav li {
    list-style: none;
    border: 3px solid aliceblue;
    background-color: #ffffff85;
    padding: 20px;
    font-size: 25px;
    margin: 10px;
}

nav li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.829);
}

main {
    grid-area: c;
}

/*page users.php*/


h2 {
    background-color: #ffffff85;
    padding: 15px;
    font-size: 30px;
    text-align: center;
}

table {
    margin: auto;
    padding: 20px;
    border-collapse: collapse;
    width: 100%;
}
th{
    background-color: rgba(184, 135, 11, 0.514);
}
th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(2n) {
    background-color: #f2f2f2;
}
tr:nth-child(2n+1){
    background-color: rgb(143, 143, 139);
}

form {
    margin: 20px auto;
    width: 60%;
}

label {
    display: block;
    padding: 20px;
}

label>span {
    float: left;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
}

form input[type="submit"] {
    transition: all ease .8s;
    padding: 10px 60px;
    margin: 20px;
    font-size: 20px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
select {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 5px 8px 5px 8px;
    width: 50%;
}

fieldset {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 30px;
    border: 1px solid #FFD2D2;
    padding: 30px;
    background: rgba(255, 244, 244, 0.233);

}

fieldset legend {
    color: rgb(53, 50, 51);
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #FFF4F4;
    padding: 0px 8px 3px 8px;
    font-weight: normal;
    font-size: 30px;
}

p {
    text-align: center;
    padding: 30px;
    font-size: 25px;
    color: white;
}


.console {
    background-color: #ffffff85;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}


/*page home.php*/
#home {
    display: grid;
    grid-template-areas: 'aa bb cc''dd dd dd';
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    text-align: center;
}

.count_quizzes {
    grid-area: aa;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.281);
    margin: 10px;
    padding: 20px;
    color: white;
}

.count_categories {
    grid-area: bb;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.281);
    margin: 10px;
    padding: 20px;
    color: white;
}

.count_questions {
    grid-area: cc;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.281);
    margin: 10px;
    padding: 20px;
    color: white;
}

.affichage {
    grid-area: dd;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.281);
    margin: 10px;
    padding: 20px;
    color: white;
}

.flash {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #000066;
    color: #FFFF00;
}